<section class="posters">
  <h1>
    Welcome to The Poster Shop!

    <small> Your one-stop shop for all your poster needs. </small>
  </h1>

  <section>
    <h2>Featured Posters</h2>

    <div class="posters__list">
      @for (poster of productsResource.value(); track poster.id) {
      <article class="posters__list__poster">
        <div class="cover">
          <img
            fill
            priority
            [ngSrc]="poster.imageUrl"
            [alt]="poster.alternativeText"
          />
        </div>

        @let price = poster.price | currency : 'EUR';

        <h3 [attr.aria-label]="`Price ${price}`">
          {{ price }}
        </h3>

        @let name = poster.name;

        <h4 [attr.aria-label]="`${name} poster`">{{ name }}</h4>

        <p class="description" aria-hidden="true">{{ poster.description }}</p>

        <div class="actions">
          <a
            [routerLink]="['/posters', poster.id]"
            [attr.aria-label]="`See ${name} poster details`"
          >
            <i class="fa-solid fa-circle-info"></i>
            See Details
          </a>

          <button
            class="add-to-cart-btn"
            (click)="addToCart(poster)"
            [attr.aria-label]="`Add ${name} poster to cart`"
          >
            <i class="fa-solid fa-cart-plus"></i>
            Add to Cart
          </button>
        </div>
      </article>
      }
    </div>
  </section>
</section>

<app-dialog [message]="dialogMessage()" [(show)]="showDialog" />
