<section class="contact">
  <h1>
    Want to get in touch?

    <small>We'd love to hear from you!</small>
  </h1>

  <section class="contact__general-info">
    <h2>General Contacts</h2>

    <address class="contact__general-info__address">
      <div class="item">
        <i class="fa-solid fa-location-dot"></i>
        <span>123 Poster Steet, Art City, ArtistLand</span>
      </div>

      <div class="item">
        <i class="fa-solid fa-phone"></i>
        <a href="tel:+000 123-456-7890"> +000 123-456-7890 </a>
      </div>

      <div class="item">
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:hello@thetshirtshop.demo">
          hello(at)thetshirtshop.demo
        </a>
      </div>
    </address>
  </section>

  <section class="contact__form">
    <h2>Contact Form</h2>

    <form #form (ngSubmit)="onSubmit()">
      <div class="form-item">
        <input
          type="text"
          id="name"
          name="name"
          required
          placeholder="Name"
          [(ngModel)]="name"
        />
      </div>

      <div class="form-item">
        <input
          type="email"
          id="email"
          name="email"
          required
          placeholder="Email"
          [(ngModel)]="email"
        />
      </div>

      <div class="form-item">
        <textarea
          id="message"
          name="message"
          rows="5"
          required
          placeholder="Message"
          [(ngModel)]="message"
        ></textarea>
      </div>

      <button type="submit">Send Message</button>
    </form>
  </section>
</section>

<app-dialog message="Thanks for your message!" [(show)]="showDialog" />
